
#tablegridform table {
    background-color:whitesmoke;
    border-radius:7px;
}

#tablegridform table button {
    width:100%;
    color:dimgrey;
    padding-left:5px;
    padding-right:5px;

}

#tablegridform table button:hover {
    color:navy;
    background-color:gainsboro;
}



#tablegridform table th {
    font-size: larger;
    font-weight: normal;
    text-decoration:none;

}

#tablegridform td {

    background-color: gainsboro;
    padding:5px;
    color:gray;
}

.monthlyLabel {
    background-color: #d6fbd8;
    horiz-align: center;
    font-style: italic;
    color:darkgreen;
    font-size:10pt;
    width:100%;
}


#tablegridform .TotalCostStd {
    background-color:#C9C9C9;
    color:black;
}
#tablegridform .TotalCostIA {
    background-color:#C9C9C9;
    color:black;
}

#tablegridform .DeltaIA_neg {
    background-color:gray;
    color:limegreen;
    font-weight:bold;
}

#tablegridform .DeltaIA_pos {
    background-color:gray;
    color:white;
}

#itemgridform table {
    border: none;
    padding:5px;
    margin-left:5px;

}

#tableSummary {
    background-color:gainsboro;
    border:none;
    border-radius:7px;
    padding:3px;
    margin-top:4px;
    margin-bottom:4px;
}

#tableSummary td {
    border:1px solid silver;
    padding:3px;
}

.itemTable {
    border-collapse: collapse;
    margin-top:5px;
}
.itemTable td {

    background-color:gainsboro;
    padding-bottom:10px;
    padding-left:3px;
    padding-right:3px;
    border-left:1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    vertical-align:top;
    color:dimgray;
    white-space:nowrap;
}
.itemTable .pk a {
    color:navy;
}

.itemTable .sk a {
    color:green !important;
}

.itemTable td .cellName{
    background-color:silver;
    color:gainsboro;
    display:block;
    padding:3px;

}
.itemTable td .cellValue{
    display:block;
    padding:3px;

}

.itemTable th {
    color:dimgrey;
    padding-bottom:3px;
    padding-top:4px;

}

/*.itemTable td .cellValuePK{*/
    /*display:block;*/
    /*padding:3px;*/
    /*color:blue;*/
    /*background-color:lightblue;*/
    /**/
/*}*/

.itemTable .tdPK {
    border-left:none;
    vertical-align:middle;
    height:100%;
    padding-left:9px;

}
.itemTable .tdPK a  {
    color:navy !important;

}

.itemTable .tdSK a {
    color:green !important;

}

.itemTable .tdSKgsi a {
    color: #7d7708 !important;

}

.itemTable .tdSK {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    vertical-align:middle;
}
.itemTable .tdSKgsi {
    vertical-align:middle;
}

.itemTable .gsiPkLink {
    color:SteelBlue;

}

.itemTable .gsiSkLink {
    color:SeaGreen;

}
.itemTable .emptyGridCell {
    background-color:whitesmoke !important;
}

.itemTable [final*='final'] {

    border-bottom: 2px dashed dimgray;
}

.itemTable [pkedges*='first'] {
    padding: 5px;
    padding-left:9px;
    border-top-left-radius: 25px;

}

.itemTable .itemAttrName {
    background-color:silver;
    padding:5px;

}

.itemTable .itemAttrValue {
    background-color:gainsboro;
    padding:5px;
}

.itemTable  button {
    width:100%;
    color:dimgrey;
    padding-left:5px;
    padding-right:5px;
    font-weight:bold;
    border:none;
    margin-bottom:4px;

}

.itemTable  button:hover {
    color:dimgrey;
    background-color:whitesmoke;
}


.itemTable .collSize {
    color:dimgrey;
    padding:4px;
}

.itemTable [sizewarning^='big'] {
    background-color: #dcc8c8 !important;

}

.itemTable [sizewarning^='huge'] {
    background-color: #dcb4b4 !important;

}


[pkedges*='middle'] {
    padding: 5px;
    border-bottom:1px solid silver;
}

[pkedges*='last'] {
    padding: 5px;
    border-bottom-left-radius: 25px;
    border-bottom: 2px solid whitesmoke !important;
}


[stripe^='pk0'] {
    background-color: lightblue !important;
}

[stripe^='pk1'] {
    background-color: lightskyblue !important;
}

[stripe^='gsipk0'] {
    background-color: orchid !important;
}

[stripe^='gsipk1'] {
    background-color: plum !important;
}

[datastripe^='ds0'] {
    background-color: #gainsboro !important;
}

[datastripe^='ds1'] {
    background-color: gainsboro !important;
}


[preview^='label0'] {
    background-color: #ebebeb !important;
    color: #fafafa !important;
}
[preview^='p0'] {
    background-color: whitesmoke !important;
    color:gainsboro !important;
}


[preview^='label1'] {
    background-color: silver !important;
    color:green;
}
[preview^='p1'] {
    background-color: gainsboro !important;
}



/*[skedges*='first'] {*/
    /*border-bottom:1pt solid silver;*/
/*}*/
/*[skedges*='middle'] {*/
    /*border-bottom:1pt solid silver;*/
/*}*/

/*[skedges*='last'] {*/
    /*border-bottom: 2px dashed grey !important;*/
/*}*/
