.rootContainer {
    background-color:whitesmoke;
    border: none;
    border-radius:6px;
    padding:5px;
    font-family:Arial;
}

.menuContainer {
    background-color:lightgrey;
    padding:7px;
    border-radius:5px;

}


.menuContainer ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}

.menuContainer li {
    float:left;
    padding-left: 4px;
    padding-right: 6px;
}

.menuContainer .tableTitle {
    color:darkslategray;
    background-color:gainsboro;
    padding:8px;
    border-radius:5px;
    margin-left:10px;


}

.menuContainer .scanButtonCell {
    padding-right:20px;
    padding-left:10px;
}

.subMenu {
    background-color:gainsboro;
    padding:5px;
    border-radius:5px;
}

.homeLink {
    font-size: 22px;
    color: blue;

}
.regionWord {

    color:grey;
}
.regionLink {
    color:dimgray;
    text-decoration:none;
 }

.regionLinkSelected {
    font-weight:bold;
    color:green;
    text-decoration:none;
}

.readFormTable {
    background-color: gainsboro;
    border-radius:6px;
    padding:3px;
}

.spinner {
    float:right;
    margin-top:0px;
}

a {
    text-decoration:none;
}

.emoji {
    font-size:small;
    opacity: 0.5;
}

.pkBox {
    background-color:whitesmoke;
    border:none;
    font-weight:bold;
    border-radius:4px;
    color:dodgerblue;
    padding:3px;
    width:130px;
 }

.skBox {
    background-color:whitesmoke;
    border:none;
    font-weight:bold;
    border-radius:4px;
    color:limegreen;
    padding:3px;
    width:130px;
}

.pkName {
    color: darkblue;
}
.skName {
    color:darkgreen;
}

.readFormTable button {
    color:grey;
    border-radius:5px;
    width:70px;
}


.tableTitle .selected {
    font-weight:bold;
    color:blue;
}
.tableTitle a {
    color:grey;
}

.statsDiv {
    background-color: gainsboro;
    color:dimgray;
    padding:4px;
    text-align:center;

    border-radius:5px;
}

.itemTableControls {
    padding:5px;
    padding-left:2px;
    margin-top: -32px;

}

.itemTableControls button {
    font-size:small;
    color:dimgrey;
    width: 80px;
    height: 22px;
    border-radius:6px;
    margin-left:5px;

}

textarea {
    background-color:gainsboro;
    border:1px solid silver;
}

button:hover {
    background-color: silver;
    color: white;
}

.errorPanel {
    background-color: LavenderBlush;
    margin:10px;
    padding:10px;
    border-radius:5px;
}
